USE [master]
GO
/****** Object:  Database [CreditCardInspector]    Script Date: 25.09.2018 17:58:30 ******/
CREATE DATABASE [CreditCardInspector]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CreditCardInspector', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CreditCardInspector.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CreditCardInspector_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CreditCardInspector_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CreditCardInspector].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CreditCardInspector]
GO
/****** Object:  Table [dbo].[CARD_INFO]    Script Date: 25.09.2018 17:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CARD_INFO](
	[UID] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_CARD_INFO_UID]  DEFAULT (newid()),
	[CARD_TYPE] [varchar](50) NOT NULL,
	[CARD_NUMBER] [bigint] NOT NULL,
	[VALID_THRU] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CARD_INFO] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [CARD_NUMBER_INDEX]    Script Date: 25.09.2018 17:58:30 ******/
CREATE NONCLUSTERED INDEX [CARD_NUMBER_INDEX] ON [dbo].[CARD_INFO]
(
	[CARD_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [CARD_TYPE_INDEX]    Script Date: 25.09.2018 17:58:30 ******/
CREATE NONCLUSTERED INDEX [CARD_TYPE_INDEX] ON [dbo].[CARD_INFO]
(
	[CARD_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [VALID_THRU_INDEX]    Script Date: 25.09.2018 17:58:30 ******/
CREATE NONCLUSTERED INDEX [VALID_THRU_INDEX] ON [dbo].[CARD_INFO]
(
	[VALID_THRU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[checkIfCreditCardExists]    Script Date: 25.09.2018 17:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[checkIfCreditCardExists]
@CardNumber bigint
AS    

DECLARE @Result bit  

IF exists (SELECT CARD_NUMBER
	FROM CARD_INFO
	where CARD_NUMBER=@CardNumber)
	BEGIN
		SET @Result=1
		PRINT 'true'
	END
ELSE 
	BEGIN
		SET @Result=0
		PRINT 'false'
	END 

RETURN @Result
GO
USE [master]
GO

INSERT INTO [CARD_INFO] (CARD_TYPE,CARD_NUMBER,VALID_THRU) VALUES ('VISA', 4563856219217000, '102018')
INSERT INTO [CARD_INFO] (CARD_TYPE,CARD_NUMBER,VALID_THRU) VALUES ('MasterCard', 5211874562849900, '012019')
INSERT INTO [CARD_INFO] (CARD_TYPE,CARD_NUMBER,VALID_THRU) VALUES ('Amex', 321895532647961, '102019')
